@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

:root {
    --p-background-color: #0C0B1D;
    --p-content-background: #0C0616;
    --p-tabs-tabpanel-background: var(--p-content-background);
    --p-tabs-tablists-background: var(--p-content-background);
    --p-primary-color: #D7AC4F;
    --p-secondary-color: #fcfbfb;
    --p-primary-hover-color: #AF8D43;
    --p-primary-contrast-color: #fcfbfb;
    --p-button-primary-background: var(--p-primary-color);
    --p-button-primary-border-color: var(--p-primary-color);
    --p-button-primary-active-background: #c6bbb9;
    --p-button-primary-active-border-color: #c6bbb9;
    --p-button-text-plain-hover-background: #2B2833;
    --p-button-text-plain-color: #fcfbfb;
    --p-primary-color-text: #fcfbfb;
    --p-primary-color-title: #D7AC4F;
    --p-card-color: var(--p-primary-color-text);
    --p-card-subtitle-color: var(--p-primary-hover-color);
}

body{
    font-family: "Montserrat", monospace;
    background-color: var(--p-background-color) ;
    color: var(--p-primary-color-text)
}



.p-card-title{
    color: var(--p-primary-color-title)
}

h1 {
    font-size: var(--text-7xl);
}

h2 {
    font-size: var(--text-4xl);
}

h3 {
    font-size: var(--text-2xl);
}

p {
    font-size: var(--text-lg)
}

a{
    color: var(--p-primary-color);
    text-decoration: underline;
}

a:hover{
    color: var(--p-primary-hover-color);
    transition: 200ms linear;
}
