@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';


body{
    font-family: "Montserrat", monospace;
    background-color: var(--p-background-color) ;
    color: var(--p-primary-color-text)
}

:root {
    --p-background-color: #1c1026;
    --p-content-background: #1c1026;
    --p-primary-color: #4c1e3c;
    --p-secondary-color: #fcfbfb;
    --p-primary-hover-color: #5f2049;
    --p-primary-contrast-color: #fcfbfb;
    --p-button-primary-active-background: #c6bbb9;
    --p-button-primary-active-border-color: #c6bbb9;
    --p-button-text-plain-hover-background: #1c1026;
    --p-primary-color-text: #fcfbfb;
}
